src/main/resources/books.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
        targetNamespace="http://epam-xml-library.com/library_xml"
        xmlns:bk="http://epam-xml-library.com/library_xml"
        xmlns="http://www.w3.org/2001/XMLSchema">

    <element name="books" type="bk:Books"/>

    <complexType name="Books">
        <sequence>
            <element name="book" type="bk:Book" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="Book">
        <sequence>
            <element name="isbn" type="bk:ID"/>
            <element name="title" type="string"/>
            <element name="genre" type="bk:Genre"/>
            <element name="authors" type="bk:Authors"/>
            <element name="numberOfPages" type="positiveInteger"/>
            <element name="yearOfPublishing" type="gYear"/>
            <element name="language" type="bk:Language"/>
        </sequence>
    </complexType>

    <simpleType name="ID">
        <restriction base="string">
            <pattern value="([0-9]{3})-([0-9])-([0-9]{2})-([0-9]{6})-([0-9])"/>
        </restriction>
    </simpleType>

    <simpleType name="Genre">
        <restriction base="string">
            <enumeration value="Fantasy"/>
            <enumeration value="Poetry"/>
            <enumeration value="Detective"/>
            <enumeration value="Novel"/>
            <enumeration value="Cookery"/>
            <enumeration value="Programming"/>
        </restriction>
    </simpleType>

    <complexType name="Authors">
        <sequence>
            <element name="author" type="string" minOccurs="1" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <simpleType name="Language">
        <restriction base="string">
            <enumeration value="Russian"/>
            <enumeration value="English"/>
            <enumeration value="Kazakh"/>
        </restriction>
    </simpleType>

</schema>