src/main/resources/library.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
        targetNamespace="http://epam.com/library"
        xmlns:lib="http://epam.com/library"
        xmlns="http://www.w3.org/2001/XMLSchema">

    <include schemaLocation="books.xsd"/>

    <element name="library" type="lib:Library"/>

    <complexType name="Library">
        <sequence>
            <element name="id" type="lib:ID" minOccurs="1" maxOccurs="1"/>
            <element name="name" type="string" minOccurs="1" maxOccurs="1"/>
            <element name="address" type="string" minOccurs="1" maxOccurs="1"/>
            <element name="books" type="lib:Books" minOccurs="0" maxOccurs="1"/>
        </sequence>
    </complexType>

    <simpleType name="ID">
        <restriction base="string">
            <pattern value="([A-Z])([0-9]{2})"/>
        </restriction>
    </simpleType>

</schema>